<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="">
  <table border="1" cellspacing="0" align="center">
    <tr>
      <th colspan="9">生活表格</th>
    </tr>
    <tr>
      <th rowspan="5">上午</th>
      <th>时刻</th>
      <th>星期一</th>
      <th>星期二</th>
      <th>星期三</th>
      <th>星期四</th>
      <th>星期五</th>
      <th>星期六</th>
      <th>星期日</th>
    </tr>
    <tr>
      <td colspan="1" align="center" style="width: 120px;">07:00 ~ 07:20</td>
      <td colspan="1" align="center" style="width: 100px;"></td>
      <td colspan="1" align="center" style="width: 100px;"></td>
      <td colspan="1" align="center" style="width: 100px;"></td>
      <td colspan="1" align="center" style="width: 100px;"></td>
      <td colspan="1" align="center" style="width: 100px;"></td>
      <td colspan="1" align="center" style="width: 100px;"></td>
      <td colspan="1" align="center" style="width: 100px;"></td>
    </tr>
    <tr>
      <td colspan="1" align="center" style="width: 120px;">07:20 ~ 08:20</td>
      <td colspan="1" align="center" ></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td></td>
    </tr>
    <tr>
      <td colspan="1" align="center" style="width: 120px;">08:20 ~ 10:00</td>
      <td align="center"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="1" align="center" style="width: 120px;">10:00 ~ 11:40</td>
      <td align="center"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="4">下午</th>
      <td colspan="1" align="center" style="width: 120px;">13:00 ~ 14:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="1" align="center" style="width: 120px;">14:00 ~ 15:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td  colspan="1" align="center" style="width: 120px;">15:30 ~ 17:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="1" align="center" style="width: 120px;">17:00 ~ 18:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
    <tr>
      <th rowspan="4">晚上</th>
      <td colspan="1" align="center" style="width: 120px;">20:00 ~ 21:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="1" align="center" style="width: 120px;">21:00 ~ 22:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td colspan="1" align="center" style="width: 120px;">22:00 ~ 23:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
</body>
</html>
